{% extends 'base.html.twig' %}

{% block title %}Program index{% endblock %}

{% block body %}
    <h1>Liste des séries</h1>

    <h2><a href="{{ path('program_new') }}">Ajouter une série</a></h2>

    <table class="table">
        <thead>
            <tr class="row">
                <th class="col-1">Id</th>
                <th class="col-2">Titre</th>
                <th class="col-4">Résumé</th>
                <th class="col-2">Poster</th>
                <th class="col-2">Acteurs</th>
                <th class="col-1">actions</th>
            </tr>
        </thead>
        <tbody>
        {% for program in programs %}
            <tr class="row">
                <td class="col-1">{{ program.id }}</td>
                <td class="col-2"><a href="{{ path('wild_show_program', {'id': program.id}) }}">{{ program.title }}</a></td>
                <td class="col-4">{{ program.summary }}</td>
                <td class="col-2"><img src="{{ program.poster }}" alt="program poster" class="mini-poster"></td>
                <td class="col-2">
                    <ul>
                        {% for actor in program.actors %}
                            <li><a href="{{ path('actor_show', {'slug': actor.slug}) }}">{{ actor.name }}</a></li>
                        {% else %}
                            <li>Aucun acteur pour cette série</li>
                        {% endfor %}
                    </ul>
                </td>
                <td class="col-1">
                    <a href="{{ path('program_show', {'slug': program.slug}) }}"><i class="far fa-eye"></i></a>
                    {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('program_edit', {'slug': program.slug}) }}"><i class="fas fa-pen"></i></a>
                    {% endif %}

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
