{% extends 'base.html.twig' %}

{% block title %}Program index{% endblock %}

{% block body %}
    <h1>Liste des séries</h1>

    <h2><a href="{{ path('program_new') }}">Ajouter une série</a></h2>

    <table class="table">
        <thead>
            <tr class="row">
                <th class="col-1">Id</th>
                <th class="col-2">Titre</th>
                <th class="col-5">Résumé</th>
                <th class="col-2">Poster</th>
                <th class="col-1">Saisons</th>
                <th class="col-1">actions</th>
            </tr>
        </thead>
        <tbody>
        {% for program in programs %}
            <tr class="row">
                <td class="col-1">{{ program.id }}</td>
                <td class="col-2"><a href="{{ path('wild_show_program', {'id': program.id}) }}">{{ program.title }}</a></td>
                <td class="col-5">{{ program.summary }}</td>
                <td class="col-2"><img src="{{ program.poster }}" alt="program poster" class="mini-poster"></td>
                <td class="col-1">
                    <a href="{{ path('season_index') }}">saisons</a>
                </td>
                <td class="col-1">
                    <a href="{{ path('program_show', {'id': program.id}) }}">show</a>
                    <a href="{{ path('program_edit', {'id': program.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
