{% extends 'base.html.twig' %}
{% block title %}{{ category.name }}{% endblock %}

{% block body %}
<h1><strong>{{ category.name }}</strong></h1>
    {% for program in programs %}
    <div class="media">
        <img class="align-self-start mr-3 poster" src="{{program.poster}}" alt="{{ program.title }} poster">
        <div class="media-body">
            <h1 class="mt-0"><a href="{{ path('wild_show_program', {'id': season.id }) }}">{{ program.title }}</a></h1>
            <p>{{ program.summary }}</p>
            <p>Categorie : {{ program.category.name }}</p>
        </div>
    </div>
    {% endfor %}

    <a href="{{ path('wild_index') }}">
        Retour à l'accueil
    </a>
    <br>
    <a href="{{ path('wild_index') }}">
        Testing index() method from WildController to view all programs.
    </a>

{% endblock %}