{% extends 'base.html.twig' %}

{% block title %}All programs{% endblock %}


{% block body %}
    <h3> Recherche </h3>
    {{ form_start(form) }}
    {{ form_row(form.searchField) }}
    <br>
    <button type="sumbit" class="btn btn-light" name="btnSearch">Rechercher</button>
    <br>
    {{ form_end(form) }}

    {% if program.title is defined %}
        <p>{{ program.title }}</p>
        <p>{{ program.summary }}</p>
    {% endif %}
    <br>

    <h3><a href="{{ path('category_index') }}"> Liste des catégories </a></h3>
    <br>
    <h3><a href="{{ path('program_index') }}"> Liste des séries </a></h3>

    <h1>Toutes les séries de la table program :</h1>
    {% for program in programs %}
        <div>
            <h2><a href="{{ path('wild_show_program', {'id': program.id }) }}">{{ loop.index }} / {{ program.title }} -
                    Catégorie : {{ program.category.name }}</a></h2>
            <p>{{ program.summary }}</p>
        </div>
    {% else %}
        Aucune série trouvée.
    {% endfor %}
    <a href="{{ path('app_index') }}">Retour à l'accueil</a>
    <br>
    <a href="{{ path('wild_show', { 'slug': "fear-the-walking-dead" }) }}">
        Testing show() method from WildController with a real program s slug.
    </a>
    <br>
    <a href="{{ path('wild_show_category', { 'categoryName': "horreur" }) }}">
        Testing showByCategory() method from WildController.
    </a>
    <br>
    <a href="{{ path('wild_show_program', { 'slug': "fear-the-walking-dead" }) }}">
        Testing showByProgram() method from WildController with a real program s slug.
    </a>

{% endblock %}