{% extends 'base.html.twig' %}

{% block title %}All programs{% endblock %}


{% block body %}
    <h3> Recherche </h3>
    {{ form_start(form) }}
    {{ form_row(form.searchField) }}
    <br>
    <button type="sumbit" class="btn btn-light" name="btnSearch">Rechercher</button>
    <br>
    {{ form_end(form) }}

    {% if program.title is defined %}
        <p>{{ program.title }}</p>
        <p>{{ program.summary }}</p>
    {% endif %}
    <br>

    {% for program in programs %}
        <a href="{{ path('wild_show_program', {'id': program.id}) }}"><img src="{{ program.poster }}" class="poster"></a>
    {% endfor %}

{% endblock %}
