{% extends 'base.html.twig' %}

{% block title %}Actor index{% endblock %}

{% block body %}
    <h1>Actor index</h1>
    <h2><a href="{{ path('actor_new') }}">Ajouter un acteur</a></h2>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for actor in actors %}
            <tr>
                <td>{{ actor.id }}</td>
                <td>{{ actor.name }}</td>
                <td>
                    <a href="{{ path('actor_show', {'slug': actor.slug}) }}"><i class="far fa-eye"></i></a>
                    {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('actor_edit', {'slug': actor.slug}) }}"><i class="fas fa-pen"></i></a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
